@media screen and (max-width: 500px) {
    .phone-body {
        display: flex;
    }

    .error-body {
        display: none;
    }

    .desktop-body {
        display: none;
    }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
    .phone-body {
        display: none;
    }

    .desktop-body {
        display: none;
    }

    .error-body {
        display: flex;
    }
}

@media screen and (min-width: 1001px) {
    .phone-body {
        display: none;
    }

    .error-body {
        display: none;
    }

    .desktop-body {
        display: block;
    }
}

/* .phone-body{
    display: none;
} */