@media screen and (max-width: 500px) {
    .desktop-body{
        display: none;
    }

    .phone-body{
        display: flex;
    }
}

@media screen and (max-width: 1000px) {
    .desktop-body{
        display: none;
    }

    .tab-body{
        display: flex;
    }
}

/* .phone-body{
    display: none;
} */