@media screen and (max-width: 500px) {
    .desktop-body{
        display: none;
    }

    .phone-body{
        display: flex;
    }
}
@media screen and (max-width: 1000px) {
    .desktop-body{
        display: none;
    }

    .phone-body{
        display: flex;
    }

    .phone-nav{
        display: none;
    }

    .profile-phone{
        display: none;
    }
    .phone-body{
        font-size: large;
    }
    .phone-skills-contents{
        grid-template-columns: repeat(3, 50%);
    }
}

/* .phone-body{
    display: none;
} */