@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Ephesis&family=Inter:wght@900&family=Nunito:wght@200&family=Poppins:wght@200&family=Rethink+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Ephesis&family=Inter:wght@900&family=Italianno&family=Nunito:wght@200&family=Poppins:wght@200&family=Rethink+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

@font-face {
    font-family: 'DIGI';
    src: url('font/LED.ttf');
}

@font-face {
    font-family: 'jose';
    src: url('font/JosefinSans-VariableFont_wght.ttf');
}

*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.desktop-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: #fed9ed98;
    width: 100%;
    height: 7vmin;
    z-index: 999; /* Set a high z-index value */
}

.phone-nav{
    position: fixed;
    background: #fed9ed98;
    width: 100%;
    height: fit-content;
    z-index: 999;
}

.header-name{
    margin: 10px;
    padding-left: 80px;
    vertical-align: middle;
}

.header-name-phone{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    vertical-align: middle;
}

.header-list-desktop{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: 10px;
    vertical-align: middle;
}

.desktop-list-padding{
    padding-right: 80px;
}

.header-list-desktop li{
    padding: 5px;
    list-style: none;
}

.header-list-desktop a{
    text-decoration: none;
}
.phone-body{
    display: none;
    flex-direction: column;
}
.header-list-phone {
    display: none;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.header-list-phone.is-active {
    display: block;
    transform: translateX(0);
}

.header-list-phone.is-exit{
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.header-list-phone li{
    list-style: none;
}

.desktop-header-content{
    display: flex;
    padding: 50px;
}
.desktop-header{
    color: aliceblue;
    padding-top: 100px;
    /* padding-bottom: 20px; */
    padding-right: 10px;
    padding-left: 10px;
    background: linear-gradient(45deg, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75)),  url('image/banner.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 0 5px 5px;
    height: 88vh;
    vertical-align: middle;
}
.phone-header{
    color: aliceblue;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background: linear-gradient(45deg, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75)),  url('image/banner.gif');
    height: 88vh;
    border-radius: 0 0 5px 5px;
}
.profile-desktop{
    padding: 20px;
    width: 25vmax;
    height: 25vmax;
    border-radius: 50%;
    align-self: center;
    /* border-radius: 50%; */
}
.desktop-image{
    align-self: center;
}
.info-container-desktop{
    align-self: center;
}

.info-container-desktop h1{
    font-family: 'jose';
    font-size: 4vmax;
}

.info-container-desktop h2{
    font-family: 'jose';
    font-size: 3vmax;
}

.info-container-desktop p{
    font-size: 1.5vmax;
}

.info-container-phone h1{
    font-family: 'jose';

}

.info-container-phone h2{
    font-family: 'jose';

}

.profile-phone{
    padding: 20px;
    width: 25vmax;
    height: 25vmax;
    border-radius: 50%;
}

.phone-image-pro{
    text-align: center;
    align-items: center;
}

.auto-type{
    font-family: 'DIGI';
    color: #232d38;
}

.auto-type-phone{
    font-family: 'DIGI';
    color: #232d38;
}

.facebook-desktop,
.github-desktop,
.instagram-desktop,
.linkedin-desktop,
.telegram-desktop,
.whatsapp-desktop{
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    background: #fff;
    width: 3vmin;
    height: 3vmin;
    border-radius: 50%;
    /* filter: invert(87%) sepia(39%) saturate(2162%) hue-rotate(299deg) brightness(94%) contrast(103%); */
    filter: grayscale(1);
    transition: transform 3s ease,
}

.facebook-desktop:hover,
.github-desktop:hover,
.instagram-desktop:hover,
.linkedin-desktop:hover,
.telegram-desktop:hover,
.whatsapp-desktop:hover{
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 10px #000);
    
}

.facebook-phone,
.github-phone,
.instagram-phone,
.linkedin-phone,
.telegram-phone,
.whatsapp-phone{
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    background: #fff;
    width: 3vmax;
    height: 3vmax;
    border-radius: 50%;
    /* filter: invert(87%) sepia(39%) saturate(2162%) hue-rotate(299deg) brightness(94%) contrast(103%); */
    filter: grayscale(1);
    transition: transform 3s ease,
}

.facebook-phone:hover,
.github-phone:hover,
.instagram-phone:hover,
.linkedin-phone:hover,
.telegram-phone:hover,
.whatsapp-phone:hover{
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 10px #000);
    
}

.button-phone-cont{
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-desktop-cont{
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-me-phone{
    font-size: medium;
    padding: 20px;
    width: 130px;
    color: aliceblue;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: none;
    background: #3559E0;
    transition: transform 3s ease,
}

.about-me-desktop{
    padding: 15px;
    width: 150px;
    color: aliceblue;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: none;
    background: #3559E0;
    transition: transform 3s ease,
}
.about-me-phone:hover,
.about-me-desktop:hover{
    transform: scale(1.1);
}

.about-me{
    margin: 50px;
    text-align: center;
    /* padding: 50px;
    background: #232d38;
    filter: drop-shadow(0px 0px 10px #000); */
}

.about-me h1{
    font-size: 3vmax;
    color: #5F0F40;
}

.about-me-con-desktop{
    display: flex;
    /* margin: 50px; */
    padding: 50px 250px;
    /* background: #232d38; */
}
.about-me-image-desktop{
    margin-right: 100px;
    border-radius: 10px;
    width: 20vw;
    filter: grayscale(1) brightness(1.4) contrast(1) drop-shadow(0px 0px 10px #000);
    transition: filter 6s ease,
}

.about-me-image-desktop:hover{
    filter: drop-shadow(0px 0px 10px #000);
}

.content-desktop-about{
    text-align: left;
}

.download-desktop-resume{
    width: 120px;
    border: none;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    background: #FB8B24;
    color: aliceblue;
    box-shadow: 0px 5px 15px #FB8B24;
    transition: background 0.3s ease;
}

.download-desktop-resume:hover{
    background: #b95e09;
}

.about-me-frame-phone{
    text-align: center;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.about-me-image-phone{
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 10px #000);
}

.content-phone-about{
    text-align: left;
}

.download-phone-resume{
    width: 120px;
    border: none;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    background: #FB8B24;
    color: aliceblue;
    box-shadow: 0px 5px 15px #FB8B24;
    transition: background 0.3s ease;
}

.download-phone-resume:hover{
    background: #b95e09;
}

.content-phone-about{
    font-size: small;
}

.skills{
    padding-top: 20px;
    background: #49108B;
    /* margin: 50px; */
    text-align: center;
}

.skills h1{
    font-size: 3vmax;
    color: aliceblue;
}

.cards-skills-desktop{
    /* background: #3559E0; */
    background: #232d38;
    color: #fff;
    width: 100px;
    padding: 20px;
    border-radius: 10px;
}

.desktop-skills-contents{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-gap: 10px;
}

.card-content-desktop-frame{
    align-items: center;
    text-align: center;
    /* background: #fff; */
    margin-left: 300px;
    margin-right: 300px;
}

.card-skills-desktop-1{
    width: 100px;
}

.card-skills-desktop-2{
    padding-top: 11px;
    padding-bottom: 11px;
    width: 100px;
}

.card-skills-desktop-3{
    width: 85px;
}

.card-skills-desktop-4{
    width: 85px;
}
.cards-skills-desktop h3{
    vertical-align: baseline;
}

.card-skills-desktop-5{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100px;
}

.skills-frame-phone{
    padding-top: 10px;
    background: #49108B;
    /* margin: 50px; */
    text-align: center;
}

.skills-frame-phone h1{
    color: #fff;
}
.card-content-phone-frame{
    margin: 20px;
}
.phone-skills-contents{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 10px;
    place-items: center;
    justify-items: center;
    text-align: center;
    align-items: center;
}

.cards-skills-phone{
    color: #fff;
    width: 100px;
    padding: 20px;
    border-radius: 10px;
    background: #232d38;
}

.card-skills-phone-1{
    width: 60px;
}

.card-skills-phone-2{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 60px;
}

.card-skills-phone-3{
    padding-top: 13px;
    padding-bottom: 13px;
    width: 60px;
}