@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Ephesis&family=Inter:wght@900&family=Nunito:wght@200&family=Poppins:wght@200&family=Rethink+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Ephesis&family=Inter:wght@900&family=Italianno&family=Nunito:wght@200&family=Poppins:wght@200&family=Rethink+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

@font-face {
    font-family: 'DIGI';
    src: url('font/LED.ttf');
}

@font-face {
    font-family: 'jose';
    src: url('font/JosefinSans-VariableFont_wght.ttf');
}

*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #fff;
}
a{
    text-decoration: none;
}
.desktop-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: #fff;
    width: 100%;
    height: 7vmin;
    z-index: 999; /* Set a high z-index value */
}

.phone-nav{
    position: fixed;
    background: #fff;
    width: 100%;
    height: fit-content;
    z-index: 999;
}

.header-name{
    margin: 10px;
    padding-left: 80px;
    vertical-align: middle;
}

.header-name-phone{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    vertical-align: middle;
}

.header-list-desktop{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: 10px;
    vertical-align: middle;
}

.desktop-list-padding{
    padding-right: 80px;
}

.header-list-desktop li{
    margin-left: 20px;
    padding: 5px;
    list-style: none;
}

.header-list-desktop li a{
    text-decoration: none;
    color: #232d38;
    transition: text-decoration color 0.3s ease;
}

.header-list li.active a {
    text-decoration: underline; /* Add underline for the active link */
    color: #ff0000; /* Change the color to your desired active color */
  }
.phone-body{
    display: none;
    flex-direction: column;
}
.header-list-phone {
    display: none;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.header-list-phone a{
    text-decoration: none;
    color: #232d38;
}
.header-list-phone li{
    color: #232d38;
}

.header-list-phone.is-active {
    display: block;
    transform: translateX(0);
}

.header-list-phone.is-exit{
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.header-list-phone li{
    list-style: none;
}

.desktop-header-content{
    display: flex;
    padding: 50px;
}
.desktop-header{
    color: aliceblue;
    padding-top: 100px;
    /* padding-bottom: 20px; */
    padding-right: 10px;
    padding-left: 10px;
    background: linear-gradient(45deg, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75)),  url('image/banner.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    vertical-align: middle;
}
.phone-header{
    color: aliceblue;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background: linear-gradient(45deg, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75)),  url('image/banner.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.profile-desktop{
    padding: 20px;
    width: 25vmax;
    height: 25vmax;
    border-radius: 50%;
    align-self: center;
    /* border-radius: 50%; */
}
.desktop-image{
    align-self: center;
}
.info-container-desktop{
    align-self: center;
}

.info-container-desktop h1{
    font-family: 'jose';
    font-size: 4vmax;
}

.info-container-desktop h2{
    font-family: 'jose';
    font-size: 3vmax;
}

.info-container-desktop p{
    font-size: 1.5vmax;
}

.info-container-phone h1{
    font-family: 'jose';

}

.info-container-phone h2{
    font-family: 'jose';

}

.profile-phone{
    padding: 20px;
    width: 25vmax;
    height: 25vmax;
    border-radius: 50%;
}

.phone-image-pro{
    text-align: center;
    align-items: center;
}

.auto-type{
    font-family: 'DIGI';
    color: #232d38;
}

.auto-type-phone{
    font-family: 'DIGI';
    color: #232d38;
}

.facebook-desktop,
.github-desktop,
.instagram-desktop,
.linkedin-desktop,
.telegram-desktop,
.whatsapp-desktop{
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    background: #fff;
    width: 3vmax;
    height: 3vmax;
    border-radius: 50%;
    /* filter: invert(87%) sepia(39%) saturate(2162%) hue-rotate(299deg) brightness(94%) contrast(103%); */
    filter: grayscale(1);
    transition: transform 3s ease,
}

.facebook-desktop:hover,
.github-desktop:hover,
.instagram-desktop:hover,
.linkedin-desktop:hover,
.telegram-desktop:hover,
.whatsapp-desktop:hover{
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 10px #000);
    
}

.facebook-phone,
.github-phone,
.instagram-phone,
.linkedin-phone,
.telegram-phone,
.whatsapp-phone{
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    background: #fff;
    width: 3.5vmax;
    height: 3.5vmax;
    border-radius: 50%;
    /* filter: invert(87%) sepia(39%) saturate(2162%) hue-rotate(299deg) brightness(94%) contrast(103%); */
    filter: grayscale(1);
    transition: filter 3s ease,
}

.facebook-phone:hover,
.github-phone:hover,
.instagram-phone:hover,
.linkedin-phone:hover,
.telegram-phone:hover,
.whatsapp-phone:hover{
    filter: drop-shadow(0px 0px 10px #000);
    
}

.button-phone-cont{
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-desktop-cont{
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-me-phone{
    font-size: medium;
    padding: 20px;
    width: 130px;
    color: aliceblue;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: none;
    background: #3559E0;
    transition: transform 3s ease,
}

.about-me-desktop{
    font-size: medium;
    padding: 15px;
    width: 200px;
    color: aliceblue;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: none;
    background: #3559E0;
    transition: transform 3s ease,
}
.about-me-desktop:hover{
    transform: scale(1.1);
}

.about-me{
    margin: 50px;
    text-align: center;
    /* padding: 50px;
    background: #232d38;
    filter: drop-shadow(0px 0px 10px #000); */
}

.about-me h1{
    font-size: 3vmax;
    color: #5F0F40;
}

.about-me-con-desktop{
    display: flex;
    /* margin: 50px; */
    padding: 50px 250px;
    /* background: #232d38; */
}
.about-me-image-desktop{
    margin-right: 100px;
    border-radius: 10px;
    width: 20vw;
    filter: grayscale(1) brightness(1.4) contrast(1) drop-shadow(0px 0px 10px #000);
    transition: filter 6s ease,
}

.about-me-image-desktop:hover{
    filter: drop-shadow(0px 0px 10px #000);
}

.content-desktop-about{
    text-align: left;
}

.download-desktop-resume{
    width: 120px;
    border: none;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    background: #FB8B24;
    color: aliceblue;
    box-shadow: 0px 5px 15px #FB8B24;
    transition: background 0.3s ease;
}

.download-desktop-resume:hover{
    background: #b95e09;
}

.about-me-frame-phone{
    text-align: center;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.about-me-image-phone{
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 10px #000);
}

.content-phone-about{
    text-align: left;
}

.download-phone-resume{
    width: 120px;
    border: none;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    background: #FB8B24;
    color: aliceblue;
    box-shadow: 0px 5px 15px #FB8B24;
    transition: background 0.3s ease;
}

.download-phone-resume:hover{
    background: #b95e09;
}

.content-phone-about{
    font-size: small;
}

.skills{
    padding-top: 20px;
    background: #49108B;
    /* margin: 50px; */
    text-align: center;
}

.skills h1{
    font-size: 3vmax;
    color: aliceblue;
}

.cards-skills-desktop{
    /* background: #3559E0; */
    background: #232d38;
    color: #fff;
    width: 100px;
    padding: 20px;
    border-radius: 10px;
}

.desktop-skills-contents{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-gap: 10px;
}

.card-content-desktop-frame{
    align-items: center;
    text-align: center;
    /* background: #fff; */
    margin-left: 300px;
    margin-right: 300px;
}

.card-skills-desktop-1{
    width: 100px;
}

.card-skills-desktop-2{
    padding-top: 11px;
    padding-bottom: 11px;
    width: 100px;
}

.card-skills-desktop-3{
    width: 85px;
}

.card-skills-desktop-4{
    width: 85px;
}
.cards-skills-desktop h3{
    vertical-align: baseline;
}

.card-skills-desktop-5{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100px;
}

.skills-frame-phone{
    padding-top: 10px;
    background: #49108B;
    /* margin: 50px; */
    text-align: center;
}

.skills-frame-phone h1{
    color: #fff;
}
.card-content-phone-frame{
    margin: 20px;
}
.phone-skills-contents{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 10px;
    place-items: center;
    justify-items: center;
    text-align: center;
    align-items: center;
}

.cards-skills-phone{
    color: #fff;
    width: 100px;
    padding: 20px;
    border-radius: 10px;
    background: #232d38;
}

.card-skills-phone-1{
    width: 60px;
}

.card-skills-phone-2{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 60px;
}

.card-skills-phone-3{
    padding-top: 13px;
    padding-bottom: 13px;
    width: 60px;
}

.education-frame-desktop{
    padding-top: 20px;
    text-align: center;
    align-self: center;

}
.education-frame-desktop h1{
    font-size: 3vmax;
    color: #5F0F40;
    padding-bottom: 10px;
}

.education-frame-desktop h2{
    color: #81B214;
}

.frame-edu-desk{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-education{
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-bottom: 30px;
}

.card-edu-text-desk{
    font-size: medium;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
}

.frame-edu-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-education-phone{
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.card-edu-text-phone{
    font-size: small;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
}

.education-frame-phone{
    text-align: center;
}

.education-frame-phone h1{
    padding-bottom: 10px;
    color: #5F0F40;
}
.education-frame-phone h2{
    color: #81B214;
}

.contact-desktop{
    /* margin-top: 15px; */
    padding-top: 10px;
    padding-bottom: 30px;
    background: #d4e1ec;
    text-align: center;
    align-self: center;
}
.contact-desktop h1{
    font-size: 3vmax;
    color: #5F0F40;
    padding-bottom: 10px;
    padding-top: 10px;
}

.contact-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact-form{
    display: flex;
    background: #49108B;
    text-align: right;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

input{
    font-size: medium;
    padding: 20px;
    width: 40vmax;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid #232d38;
}

input:hover{
    border: 3px solid green;
}

textarea:hover{
    border: 3px solid green;
}
textarea{
    font-size: 18px;
    width: 40vmax;
    height: 9vmax;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 3px solid #232d38;


}
.desktop-con-form{
    padding: 20px;
}

.submit{
    font-size: medium;
    margin: 10px;
    padding: 20px;
    width: 10vmax;
    border: none;
    border-radius: 5px;
    background: #3559E0;
    color: #d4e1ec;
    transition: all 0.5s;
    box-shadow: 0 0 10px #000;
}

.submit:hover{
    background: #152c80;
}

.content-con-image{
    width: 40vmax;
    height: 40vmax;
}

.contact-phone{
    text-align: center;
    background: #d4e1ec;
    padding: 20px;
}

.contact-phone h1{
    /* padding-top: 10px; */
    padding-bottom: 10px;
    color: #5F0F40;
}

.contact-frame-phone{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px #232d38;
}

.phone-con-form{
    /* text-align: right; */
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;


}
.contact-phone input{
    max-width: 30vmax;
    padding: 10px;
}
.contact-phone textarea{
    width: 30vmax;
    padding: 10px;
}
.contact-phone .submit-phone{
    margin-right: 10px;
    width: 100px;
    padding: 10px;
    font-size: small;
    border: none;
    border-radius: 5px;
    background: #3559E0;
    color: #d4e1ec;
    transition: all 0.5s;
    box-shadow: 0 0 10px #000;
}

.contact-phone .submit-phone:hover{
    background: #152c80;
}

.phone-send-button{
    text-align: right;
}

.desktop-footer-body{
    background: #232d38;
    color: #d4e1ec;
    padding: 20px;
}
.phone-footer-body{
    background: #232d38;
    color: #d4e1ec;
    padding: 20px;
}
.content-desktop-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner-content-desktop-footer{
    display: flex;
    justify-content: space-between;
    gap: 4vmax;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;

}

.footer-desktop-protfolio{
    width: 22vmax;
    /* background: #152c80; */
}

.footer-desktop-quick{
    /* background: #152c80; */
    width: 15vmax;
}

.footer-desktop-info{
    width: 25vmax;
    /* background: #152c80; */
}

.footer-desktop-quick a{
    color: #d4e1ec;
    /* margin-top: 15px; */
    /* margin-bottom: 10px; */
    transition: all 0.3s;
}
.footer-desktop-quick p{
    margin-bottom: 10px;
}
.footer-desktop-quick a:hover{
    color: #FB8B24;;
}

.end-desktop{
    padding-top: 10px;
}

.footer-desktop-info p{
    margin-bottom: 10px;
}

.footer-contact-info-desktop{
    display: flex;
}

.facebook-desktop-footer,
.github-desktop-footer,
.instagram-desktop-footer,
.linkedin-desktop-footer,
.telegram-desktop-footer,
.whatsapp-desktop-footer{
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    background: #fff;
    width: 1vmax;
    height: 1vmax;
    border-radius: 50%;
    /* filter: invert(87%) sepia(39%) saturate(2162%) hue-rotate(299deg) brightness(94%) contrast(103%); */
    filter: grayscale(1);
    transition: transform 3s ease,
}

.facebook-phone-footer,
.github-phone-footer,
.instagram-phone-footer,
.linkedin-phone-footer,
.telegram-phone-footer,
.whatsapp-phone-footer{
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    background: #fff;
    width: 1vmax;
    height: 1vmax;
    border-radius: 50%;
    /* filter: invert(87%) sepia(39%) saturate(2162%) hue-rotate(299deg) brightness(94%) contrast(103%); */
    filter: grayscale(1);
    transition: transform 3s ease,
}
.footer-phone-quick{
    margin-top: 30px;
}

.footer-phone-quick a{
    color: #d4e1ec;
    transition: all 0.3s;
}

.footer-phone-quick a:hover{
    color: #FB8B24;
}
.footer-phone-quick p{
    margin-top: 5px;
}
.footer-phone-info{
    margin-top: 30px;
}
.inner-content-phone-footer{
    padding-bottom: 20px;
}
.end-phone{
    font-size: smaller;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    border-top: 1px solid gray;
    text-align: center;
}

.footer-phone-info p{
    margin-top: 5px;
}

.desktop-project{
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 30px;
    background: #152c80;
    text-align: center;
    align-self: center;
}

.desktop-project h1{
    font-size: 3vmax;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
}

.project-desktop-outer {
    display: flex;
    justify-content: center;
}

.project-desktop-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.card-project{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: #fff;
    width: 200px;
    height: 200px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
}

.card-project {
    position: relative;
    width: 300px;
    height: 300px; /* Set the width based on your design */
    overflow: hidden; /* Hide the overflowing content */
    cursor: pointer;
}

.card-project img {
    width: 100%;
    display: block;
    filter: brightness(1);
}

.card-project-overlay {
    color: #ddd;
    position: absolute;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity as needed */
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Smooth transition effect */
}

.card-project-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #232d38;
    background: #F4BF96; /* Set the text color */
    padding: 10px; /* Add padding for better readability */
    box-sizing: border-box; /* Include padding in the width calculation */
    opacity: 1; /* Initially visible */
    transition: all 0.3s; /* Smooth transition effect for background color */
}

.card-project:hover .card-project-overlay {
    opacity: 1; /* Show the overlay on hover */
}

.card-project:hover .card-project-text {
    background: #FB8B24;
    color: #fff;
}

.card-project:hover{
    transform: scale(1.05);
}


.go-to-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 10px; /* Adjust spacing */
}

.phone-project{
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 30px;
    background: #152c80;
    text-align: center;
    align-self: center;
    font-size: small;
}

.card-project-overlay-phone {
    color: #ddd;
    position: absolute;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity as needed */
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Smooth transition effect */
}

.card-project-phone:hover .card-project-overlay-phone {
    opacity: 1; /* Show the overlay on hover */
}
.card-project-phone:hover .card-project-text-phone {
    background: #FB8B24;
    color: #fff;
}
.card-project-phone {
    position: relative;
    margin: 10px;
    width: 30vmax;
    height: 30vmax; /* Set the width based on your design */
    overflow: hidden; /* Hide the overflowing content */
    cursor: pointer;
    border-radius: 5px;
}

.card-project-phone img {
    width: 100%;
    display: block;
    filter: brightness(1);
}

.card-project-text-phone {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #232d38;
    background: #F4BF96; /* Set the text color */
    padding: 10px; /* Add padding for better readability */
    box-sizing: border-box; /* Include padding in the width calculation */
    opacity: 1; /* Initially visible */
    transition: background-color 0.3s ease-in-out; /* Smooth transition effect for background color */
}

/* .desktop-project{
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 30px;
    background: #152c80;
    text-align: center;
    align-self: center;
} */

.phone-project h1{
    color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
}

.project-phone-outer {
    display: flex;
    justify-content: center;
}

.project-phone-inner {
    display: flex;
    flex-direction: column;
}

.view-phone-more{
    padding: 10px;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s;
}
.view-phone-more:hover{
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

.view-desktop-more{
    width: 150px;
    padding: 15px;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s;
}

.view-desktop-more:hover{
    background: #fff;
    color: #000;
    border: 1px solid #000;
    transform: scale(1.1);
}