@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Ephesis&family=Inter:wght@900&family=Nunito:wght@200&family=Poppins:wght@200&family=Rethink+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Ephesis&family=Inter:wght@900&family=Italianno&family=Nunito:wght@200&family=Poppins:wght@200&family=Rethink+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.desktop-nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: #fed9ed98;
    width: 100%;
    height: 7vmin;
}

.phone-nav{
    position: fixed;
    background: #fed9ed98;
    width: 100%;
    height: fit-content;
}

.header-name{
    margin: 10px;
    vertical-align: middle;
}

.header-name-phone{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    vertical-align: middle;
}

.header-list-desktop{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: 10px;
    vertical-align: middle;
}

.header-list-desktop li{
    padding: 5px;
    list-style: none;
}

.header-list-desktop a{
    text-decoration: none;
}
.phone-body{
    display: none;
    flex-direction: column;
}

.phone-header-content{
    text-align: center;
    align-items: center;
}
.header-list-phone {
    display: none;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.header-list-phone.is-active {
    display: block;
    transform: translateX(0);
}

.header-list-phone.is-exit{
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.header-list-phone li{
    list-style: none;
}

.desktop-header-content{
    display: flex;
    padding: 10px;
}
.desktop-header{
    color: aliceblue;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background: linear-gradient(45deg, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75)),  url('image/banner.gif');
    border-radius: 0 0 20px 20px;
}
.phone-header{
    color: aliceblue;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background: linear-gradient(45deg, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75)),  url('image/banner.gif');
    border-radius: 0 0 20px 20px;
}
.profile-desktop{
    padding: 20px;
    width: 25vmax;
    height: 25vmax;
    border-radius: 50%;
}
.info-container-desktop{
    align-self: flex-end;
}

.info-container-desktop h1{
    font-size: 7vmax;
}

.info-container-desktop h2{
    font-size: 3vmax;
}

.info-container-desktop p{
    font-size: 1.5vmax;
}

.info-container-phone h1{
    font-size: 5vmax;
}

.info-container-phone h2{
    font-size: 2vmax;
}

.info-container-phone p{
    font-size: 1.5vmax;
}
.profile-phone{
    padding: 20px;
    width: 25vmax;
    height: 25vmax;
    border-radius: 50%;
}

